.widget{
    flex: 0.3;
}

.search{
    display: flex;
    align-items: center;
    background-color: #e6ecf0;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.search > input{
    border: none;
    background-color: #e6ecf0;
    font-size: large;
}

.widget-widgetContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widget-widgetContainer > h2{
    font-size: 18px;
    font-weight: 800;
}